<body class=" flex justify-center">
    <div class="teacher-list flex flex-col gap-5 mt-10">

  <div class="main-container  border m-5 border-gray-300 w-[650px]">
    <div class="teacher-profile-picture flex">
      <img
        class="rounded-full object-cover m-5 h-[120px] w-[120px]"
        src="teacher-1.jpg"
        alt=""
      />

      <div class="mt-5 ml-3 ">
        <h1 class="teacher-name font-bold text-2xl">Judas Mohlala</h1>
        
        <span><i class="bi bi-star"></i></span>
      </div>
      
    </div>

    <div class="about-teacher-section">
        <div class="teacher-bio border border-gray-500">
            <p>I'm Judas, a qualifies ESL teacher with 3 years of experience. <br>
                I teach all kinds of levels, beginner to advanced. I am from <br> 
                South Africa and a native English speaker.
            </p>
        </div>
      </div>
      <button class="price-button bg-purple-200 w-[85px] h-[55px] p-3 m-5 rounded text-[#111828]">10$ hr</button>
  </div>


  <div class="main-container border m-5 border-yellow-500 w-[650px]">
    <div class="teacher-profile-picture flex">
      <img
        class="rounded-full object-cover h-[200px] w-[200px]"
        src="teacher-2.jpg"
        alt=""
      />
      <div>
        <h1 class="teacher-name font-bold text-2xl">Mary Jane</h1>
        <span><i class="bi bi-star"></i></span>
      </div>
    </div>
    <div class="about-teacher-section">
      <div class="teacher-bio border border-gray-500">
        <p>I'm Mary, a passionate ESL teacher with 5 years of experience. <br>
          I focus on conversational English and tailor lessons to your needs. <br> 
          I’m from the USA and a native English speaker.
        </p>
      </div>
    </div>
  </div>
  </div>

</body>
