<body class=" flex justify-center">
    <div class="teacher-list flex flex-col gap-5 mt-10">

  <div class="main-container  border border-gray-300 w-[650px] flex p-5">
    <div class="teacher-profile-picture flex-shrink-0">
      <img
        class="rounded-full object-cover mt-5 h-[120px] w-[120px]"
        src="teacher-1.jpg"
        alt=""
      />
    </div>

      <div class="mt-5 ml-3 gap-5 ">
        <h1 class="teacher-name mx-2 ml-4 font-bold text-2xl">Judas Mohlala</h1>
        
        <span><i class="bi text-yellow-600 m-2 bi-star p-3"></i></span>

        <div class="about-teacher-section flex">
          <div class="teacher-bio ml-5 border border-gray-100">
              <p class="justify">I'm Judas, a qualified ESL teacher with 3 years of experience.
                  I teach all kinds of levels, beginner to advanced. I am from
                  South Africa and a native English speaker.
              </p>
              <div class="teacher-location flex gap-2 mt-3 hover:text-purple-400">
              <i class="bi bi-geo-alt-fill"></i>
              <p class=> South Africa</p>
            </div>
              
          </div>

          
        </div>
        <div class="contact-tutor">
          <button class="font-bold contact-btn font-sm text-[#101828] m-5 p-2 bg-purple-200">Book tutor</button>
        </div>
      </div>
      
    </div>


  </div>

</body>
