<div class="container relative min-w-screen flex items-center top-[-25px] min-h-[650px] bg-purple-100">
  <div class="content-container mx-[80px] flex items-center justify-between">
    <div class="left-content ml-[80px] flex flex-col justify-between gap-[56px] w-[650px]">
      <h1 class="main-header items-center font-bold text-6xl">
        Improve your English. <br />
        Speak with a native teacher.
      </h1>

      <button class="action-btn-homepage">Get Started</button>
    </div>

    <div class="right-content w-1/2 ">
      <img src="black-tutor-laptop.jpg" alt="" class="right-content-img mr-5 " />
    </div>
  </div>
</div>

<!-- stats -->
<div class="container mt-5">
    <div class="stats-container flex justify-center items-center">
        <ul class="flex space-x-20">
            <li class="text-center">
                <h1 class="text-2xl font-bold">5 000+</h1>
                <span class="text-gray-500">satisfied students</span>
            </li>

            <li class="text-center">
                <h1 class="text-2xl font-bold">10+</h1>
                <span class="text-gray-500">native teachers</span>
            </li>

            <li class="text-center">
                <h1 class="text-2xl font-bold">50 000+</h1>
                <span class="text-gray-500">lesson hours delivered</span>
            </li>

            <li class="text-center">
                <h1 class="text-2xl font-bold flex items-center">4.9 <span class="ml-1"><i class="bi bi-star text-yellow-400"></i></span></h1>
                <span class="text-gray-500">rating</span>
            </li>
        </ul>
    </div>
</div>


<!-- why choose speakeasy -->
 <section>
<div class="heading">
    <h1 class="section-title font-bold align-center"> Why choose SpeakEasy?</h1>
</div>

<div class="section-container">
    <div class="reason-container">
        
    </div>
</div>
</section>
