




/* .login-btn  {background-image: linear-gradient(to right, #000000 0%, #434343  51%, #000000  100%)}
.login-btn {
   margin: 10px;
   padding: 15px 45px;
   text-align: center;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   border-radius: 10px;
   display: block;
 }

 .login-btn:hover {
   background-position: right center; 
   color: #fff;
   text-decoration: none;
 } */

/* Make sure navbar links are always white */
.nav-link {
  display: block;
  padding: 10px 15px;
  color: white;
  transition: color 0.3s ease-in-out;
}

.nav-link:hover {
  color: #a3bffa;
}

/* Remove default Tailwind background */
ul {
  background: transparent !important;
}

/* Buttons */
.start-now-btn {
  background-image: linear-gradient(to right, #00c6ff 0%, #0072ff 51%, #00c6ff 100%);
  margin: 10px;
  padding: 10px 25px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  border-radius: 10px;
  display: inline-block;
}

.start-now-btn:hover {
  background-position: right center;
  color: #fff;
}

.login-btn {
  background-image: linear-gradient(to right, #ECE9E6 0%, #FFFFFF 51%, #ECE9E6 100%);
  margin: 10px;
  padding: 10px 25px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: black;            
  border-radius: 10px;
  display: inline-block;
}

.login-btn:hover {
  background-position: right center;
  color: black;
}

  
