/* Styling for the loader */
.dot-loader {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .dot {
    width: 15px;
    height: 15px;
    margin: 0 5px;
    background-color: rgb(248, 179, 248);
    border-radius: 50%;
    animation: bounce 1.4s infinite ease-in-out;
  }
  
  /* Animation for bouncing dots */
  .dot:nth-child(1) {
    animation-delay: 0s;
  }
  
  .dot:nth-child(2) {
    animation-delay: 0.2s;
  }
  
  .dot:nth-child(3) {
    animation-delay: 0.4s;
  }
  
  @keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }
  